# shellcheck shell=bash

for profile in $NIX_PROFILES; do
    if [ -d "$profile/bin" ]; then
        PATH_add "$profile/bin"
    fi
done

if ! has devenv; then
    echo "Devenv not found in PATH. Checking/Installing via Nix profile..."

    if [ ! -e "$HOME/.nix-profile/bin/devenv" ]; then
        echo "Installing devenv..."
        nix profile add github:cachix/devenv/55d2bb4a3cc710ba82cc8644f4419db3a802e1a4#devenv
    else
        echo "Devenv found in .nix-profile but was not in PATH. (Path added above)"
    fi
fi

source_url \
    "https://raw.githubusercontent.com/tao3k/prj-spec/a75e31297817fdfb386b45568988fbe6900b2745/contrib/direnv" \
    "sha256-E51nr3K1GkORLLaa85lyPjX14+LioWd0CvsQU/BU9KE="
