# SPDX-FileCopyrightText: 2026 tao3k team and Contributors
#
# SPDX-License-Identifier: Apache-2.0 AND LGPL-2.1-or-later

[submodule "languages/asp-rust"]
	path = languages/asp-rust
	url = https://github.com/tao3k/asp-rust
[submodule "languages/asp-typescript"]
	path = languages/asp-typescript
	url = https://github.com/tao3k/asp-typescript
[submodule "languages/AspJulia.jl"]
	path = languages/AspJulia.jl
	url = https://github.com/JuliaCN/AspJulia.jl
[submodule "languages/asp-python"]
	path = languages/asp-python
	url = https://github.com/tao3k/asp-python
[submodule "analyzers/WendaoGraph.jl"]
	path = analyzers/WendaoGraph.jl
	url = git@github.com:tao3k/WendaoGraph.jl.git
[submodule "analyzers/ScienceResearch.jl"]
	path = analyzers/ScienceResearch.jl
	url = git@github.com:tao3k/ScienceResearch.jl.git
[submodule "languages/orgize"]
	path = languages/orgize
	url = https://github.com/tao3k/orgize
[submodule "languages/asp-gerbil-scheme"]
	path = languages/asp-gerbil-scheme
	url = https://github.com/tao3k/asp-gerbil-scheme
[submodule "org"]
	path = org
	url = https://github.com/tao3k/org.git
[submodule "analyzers/AspGraphsSearch.jl"]
	path = analyzers/AspGraphsSearch.jl
	url = git@github.com:tao3k/AspGraphsSearch.jl.git
