[submodule "languages/rust-lang-project-harness"]
	path = languages/rust-lang-project-harness
	url = https://github.com/tao3k/rust-lang-project-harness
[submodule "languages/typescript-lang-project-harness"]
	path = languages/typescript-lang-project-harness
	url = https://github.com/tao3k/typescript-lang-project-harness
[submodule "languages/JuliaLangProjectHarness.jl"]
	path = languages/JuliaLangProjectHarness.jl
	url = https://github.com/JuliaCN/JuliaLangProjectHarness.jl
[submodule "languages/python-lang-project-harness"]
	path = languages/python-lang-project-harness
	url = https://github.com/tao3k/python-lang-project-harness
[submodule "analyzers/WendaoGraph.jl"]
	path = analyzers/WendaoGraph.jl
	url = git@github.com:tao3k/WendaoGraph.jl.git
[submodule "analyzers/ScienceResearch.jl"]
	path = analyzers/ScienceResearch.jl
	url = git@github.com:tao3k/ScienceResearch.jl.git
