[Unit]
Description=Global ASP resident daemon

[Service]
Type=simple
ExecStart=@ASP_RUNTIME@ resident daemon
Environment=ASP_STATE_HOME=@ASP_STATE_HOME@
Restart=always
RestartSec=10ms

[Install]
WantedBy=default.target
